// colors
$clr-danger: #f50b3b;
$clr-danger-10: #f7edef;
$clr-grey: #98a6ad;
$clr-grey-2: #808284;
$clr-grey-3: #d6d9d9;
$clr-grey-4: #e8ecec;
$clr-grey-10: #f7f7f7;
$clr-white: #ffffff;
$clr-dark: #202127;
$clr-off-white: #e2e6e7;
$transition: 1s ease;

// breakpoints
$breakpoint-sm: 540px;
$breakpoint-md: 768px;
$breakpoint-lg: 920px;
$breakpoint-xl: 1200px;